s {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
}

s.live {
  background-image: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 75%, rgba(255,223,223,1) 100%);
}

#grid.red s.live {
  background-color: rgb(255,40,0);
}

#grid.blue s.live {
  background-color:  rgb(41, 158, 255);
}

button {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}

#grid {
  white-space: nowrap;
}
