s {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
}

s.live {
  /* background: rgb(255,40,0); */
  /* background: radial-gradient(circle, rgba(255,40,0,1) 0%, rgba(255,100,71,1) 75%, rgba(255,223,223,1) 100%); */
  background-image: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 75%, rgba(255,223,223,1) 100%);
}

s.live.red {
  background-color: rgb(255,40,0);
}

s.live.blue {
  background-color:  rgb(41, 158, 255);
}

button {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}

.grid {
  white-space: nowrap;
}
